 @font-face { font-family: Marion; src: url('../fonts/Marion.ttc'); }

:root {
    font-family: Marion, Times, 'Times New Roman', serif;
    font-size: clamp(12px, min(calc(5px + 2vh), calc(5px + 2vw)), 18px);
    letter-spacing: 0.1em;
}

/* GENERIC */
body {
    margin: 0;
    background-color: #f2ecc3;
}

a {
    text-decoration: none;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button:focus:not(:focus-visible) {
    outline: none;
}

ul, li {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

/* HEADER / FOOTER */
header, footer {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
}

header {
    justify-content: flex-end;
    z-index: 11;
    top: 0;
}

header ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1rem;
}

header button {
    height: 1.3rem;
    margin-left: .5rem;
}

footer {
    bottom: 0;
    justify-content: flex-start;
    font-size: 0.7rem;
    line-height: 2em;
}

footer ul {
    padding: 1rem;
}

footer p {
    display: flex;
    align-self: center;
    margin: 0;
    padding: 0;
}

footer li a {
    display: flex;
    height: 1.6rem;
    margin-right: 1rem;
}

/* MAIN IMG & BOOKING BUTTON */
main {
    position: fixed;
    top: min(85vw, 50%);
    left: 50%;
    transform: translate(-50%,-50%);
}

main img {
    display: block;
    position: relative;
    height: min(78vh, 130vw);
    object-fit: scale-down;
    max-height: 780px;
    max-width: 520px;
    top: min(-1rem, -2vh);
    left: 4%;
}

main button {
    position: absolute;
    display: flex;
    z-index: 1;
    left: clamp(82%, calc(30% + 25vw), 110%);
    top: clamp(-40%, calc(-40% + 25vw), 15%);
    height: min(25vh, 291px);
    font-size: 1.25rem;
    text-align: left;
    font-weight: 100;
    align-items: center;
}

main button div {
    position: relative;
    z-index: 1;
    pointer-events: none;
}


/* BOOKING MODAL */
section {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
}
section.is-open {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}
.modal-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.75);
    z-index: 0;
    transition: 200ms ease;
}
.iframe-wrap {
    position: relative;
    z-index: 1;
    display: flex;
    margin: 0 auto;
    padding: .75rem;
    border-radius: .75rem;
    border: .75rem solid white;
    background-color: #f8f8f8;
    transition: 200ms ease 200ms;
    top: -5%;
}
iframe {
    height: 520px;
    width: 320px;
    border: 0;
}
